/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Estilo para a trilha da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
  }
  
  /* Estilo para o polegar (a parte móvel) da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: pink; /* Cor do polegar da barra de rolagem */
    border-radius: 5px; /* Cantos arredondados do polegar */
  }
  