body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #3d0014, #333); /* Gradiente de cores */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none; /* Impede a seleção de texto */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Efeito de brilho mais suave */
    animation: pulse 3s ease-in-out infinite alternate, gradientMove 20s ease infinite; /* Animações de pulsar e movimento do gradiente mais suaves */
    overflow: hidden; /* Impede que o gradiente ultrapasse os limites do body */
    position: relative; /* Adicionado posicionamento relativo para elementos filhos */
}

/* Adicionado um pseudo-elemento para criar uma textura de raios no fundo */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1) 10px,
        transparent 10px,
        transparent 20px
    );
    pointer-events: none; /* Impede interações com o pseudo-elemento */
    z-index: -1; /* Define um z-index menor para que fique abaixo do "user card" */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Escala normal */
    }
    100% {
        transform: scale(1.05); /* Escala ampliada um pouco mais */
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}



.card {
    background-color: #202225;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    max-width: 400px;
    overflow: hidden; /* Adicionado para esconder a parte cortada */
    margin-right: 20px; /* Aumentado o espaçamento à direita */
    margin-bottom: 20px; /* Aumentado o espaçamento abaixo */
    animation: slideIn 1s ease-in-out; /* Adicionada animação de entrada */
}

.banner {
    width: 100%;
    height: 150px; /* Aumentado para mostrar a parte inteira do banner */
    background-image: url("https://media.discordapp.net/attachments/1147058200923881483/1152244443857031190/18b7da4a28129b8e58706531e19f1c1e.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 10px; /* Adicionado espaço entre o banner e o conteúdo */
    animation: fadeIn 1s ease-in-out; /* Adicionada animação de fade-in */
}

.content {
    padding: 20px; /* Diminuído para dar mais espaço ao avatar */
    width: 100%;
}

.avatar-container {
    position: relative; /* Adicionado para posicionar a borda */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; /* Ajustado para posicionar o avatar à direita */
    margin-top: -50px; /* Ajustado para posicionar o avatar acima do banner */
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -30px; /* Ajustado para mover o avatar para a direita */
    border: 3px solid #ff6699; /* Adicionada a borda rosa */
    animation: pulse 2s infinite; /* Adicionada a animação da borda */
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -50px;
    flex-wrap: wrap; /* Permite que as badges quebrem para a próxima linha */
}

.badges {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    flex-wrap: wrap; /* Permite que as badges quebrem para a próxima linha */
   
}

.badge {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-bottom: 5px; /* Adicionado espaçamento entre as badges */
   
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    animation: slideIn 1s ease-in-out; /* Adicionada animação de entrada */
}

.discriminator {
    color: #aaa;
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out; /* Adicionada animação de entrada */
}

.description {
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out; /* Adicionada animação de entrada */
}

.rich-presence {
    color: #aaa;
    margin-bottom: 10px;
    animation: slideIn 1s ease-in-out; /* Adicionada animação de entrada */
}

.send-message {
    color: #fff;
    text-decoration: none;
    background-color: #7289DA;
    padding: 10px 20px;
    border-radius: 4px;
    animation: fadeIn 1s ease-in-out; /* Adicionada animação de fade-in */
}

@keyframes pulse {
    0% {
        border-color: #ff6699; /* Alterada para a cor rosa */
    }
    50% {
        border-color: #36393F;
    }
    100% {
        border-color: #ff6699; /* Alterada para a cor rosa */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Estilos para os botões de controle de áudio */
#audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#audio-controls button {
    background-color: #2a2b2c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
}
